body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f8f8f8;
}

header {
    background-color: #ff8c42;
    padding: 10px;
    header {
    background-color: #ff8c42;
    padding: 15px;
    display: flex;
    justify-content: space-between; /* Distribuye elementos a los extremos */
    align-items: center;
    }
}

.registro-boton {
    background-color: #ff5722;
    color: white;
    padding: 10px 15px;
    font-size: 10px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.registro-boton:hover {
    background-color: #e64a19;
}


h1 {
    color: white;
}

.galeria {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alineado a la izquierda en móviles */
    gap: 15px;
    margin-top: 20px;
    padding-left: 20px; /* Ajusta el margen izquierdo */
}

/* Centrar en computadoras */
@media (min-width: 768px) {
    .galeria {
        align-items: center; /* En pantallas más grandes, la galería se centra */
        padding-left: 0;
    }
}

.imagen-link {
    text-decoration: none; /* Elimina el subrayado del enlace */
    color: inherit;
}

.imagen-con-texto {
    display: flex; /* Activa el modelo flexible para manejar la alineación */
    align-items: center; /* Asegura que la imagen y el texto estén alineados */
    border: 2px solid #ff8c42;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    width: 320px; /* Ajusta el ancho del contenedor */
    text-align: left;
    transition: border-color 0.3s, transform 0.2s;
}

.imagen-con-texto:hover {
    border-color: #ff5722; /* Cambia el borde al pasar el mouse */
    transform: scale(1.05);
}

.imagen-con-texto img {
    width: 50%; /* La imagen ocupará el 50% del ancho del contenedor */
    max-width: 200px; /* Tamaño máximo para evitar que se agrande demasiado */
    height: auto; /* Mantiene la proporción correcta */
    border-radius: 10px;
    margin-right: 10px;
}


.imagen-con-texto h6 {
    font-size: 16px;
    color: #333;
    text-align: left; /* Asegura que el texto dentro del contenedor también esté alineado */
}
footer {
    text-align: center;
    margin-top: 50px;
    padding: 20px;
}

.link-presentacion {
    background-color: #ff8c42;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.link-presentacion:hover {
    background-color: #ff5722;
}
