body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #fef6e4;
    margin: 0;
    padding: 20px;
}

header {
    background-color: #ff8c42;
    padding: 15px;
}

h1 {
    color: white;
    font-size: 24px;
}

button {
    background-color: #ff5722;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #e64a19;
}

.mapa-container, .qr-container {
    max-height: 0; /* Inicialmente oculta */
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
    width: 100%;
    text-align: center;
    height: auto; /* Mantiene la proporción original */
    border-radius: 10px;
    object-fit: cover; /* Ajusta la imagen para que llene el espacio */
    display: block;
    margin: auto;
}




.qr-container img {
    width: 200px;
    margin-top: 10px;
}

/* Cuando está visible */
.mapa-container.active, .qr-container.active {
    max-height: 400px; /* Ajusta según el tamaño de la imagen */
}
